# In order to get .env approach working, you might copy this file. This file is read
# line by line by django-environ library (Refer to its documentation to more info).
# Each line is formed by KEY=VALUE where `KEY` is the configuration read by the
# settings.py file. You need to change the values after the `=` sign and can create
# new values by appending new variables at the end of the file.

DEBUG=1
HOST=localhost
PORT=8000
DATABASE_URL=postgres://postgres:<postgres_pwd>@postgres:5432/postgres
REDIS_URL=redis://redis:6379
SECRET_KEY=<random_string_goes_here>
SENDGRID_USERNAME="tiny-bird"
SENDGRID_PASSWORD="tiny-bird"

STRIPE_PUBLISHABLE_KEY=pk_test_51LwmHtFbVzKPteMage8VTVNnl0HjeYAWwRIv4JtKO18EclY7aVAncx1jzQZCf862BBQJexoTxGEp0YOGWcHnCsAm00vXCKf5GD
STRIPE_SECRET_KEY=sk_test_51LwmHtFbVzKPteMaqnkJ1dSPjU4seDksLJdN5BelEkUzc8zr6coePsvvdK7DVXPewz6dcRufLZ3b0MqfPqHDqngx00SoDoXltN
STRIPE_WEBHOOK_SECRET=whsec_31aa23c53e085b6521fd8c596ebb2ad0f5a1e6255f110ea0c6b4b979db894341


# Flower
CELERY_FLOWER_USER=NKsqkrPPcdrcuKHNczMgSATNMLFPdAfo
CELERY_FLOWER_PASSWORD=FpreAwvBNfoLnaLuhV7deT5yPNGJ2qpxU2VJ36GmZRe7Mk5FxRUjx6URnTC1lzWX