[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]
black = "~=22.10.0"

[requires]
python_version = "3.8"


[packages]
cryptography = "~=37.0.2"
django = "~=2.2.26"
"boto3" = "~=1.18.58"
django-environ = "~=0.9.0"
django-storages = "~=1.12"
psycopg2-binary = "==2.8.6"
waitress = "~=2.1.2"
whitenoise = "~=6.0.0"
djangorestframework = "~=3.13.1"
djangorestframework-gis = "==1.0"
django-bootstrap4 = "~=22.1"
django-allauth = "~=0.51.0"
django-rest-auth = "~=0.9.5"
dj-rest-auth = "~=3.0.0"
django-extensions = "~=3.1.5"
packaging = "*"
drf-yasg = "~=1.20.0"
pyyaml = "~=6.0"
pillow = "~=9.2.0"
pytest = "==7.1.2"
factory-boy = "==3.2.1"
google-cloud-secret-manager = "==2.11.1"
google-auth = "==2.9.0"
google-cloud-storage = "==2.4.0"
pyotp = "==2.7.0"
stripe = "==4.2.0"
python-dateutil = "==2.8.2"
django-celery-beat = "==2.4.0"
celery = "==5.2.7"
redis = "==4.3.4"
flower = "==1.2.0"
"backports.zoneinfo" = "==0.2.1"
django-jazzmin = "==2.6.0"
pubnub = "==7.0.1"
django-cors-headers = "==2.2.0"
django_celery_results = "==2.4.0"
filetype = "==1.2.0"
geopy = "==2.3.0"
