{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="box-1"></div>
  <div class="box-2"></div>
  <img src="{% static 'img/horse.png' %}" class="horse" />
  <nav class="navigation">
    <div class="logo-container">
      <img src="{% static 'img/logo.png' %}" height="60" />
      <span class="logo">ENBARR</span>
    </div>
    <span class="navigation-button">About us</span>
    <span class="navigation-button">FAQ</span>
    <span class="navigation-button">Contact us</span>
    <span class="navigation-button">
      <button class="button">Sign up/Login</button>
    </span>
  </nav>
  <div class="main">
    <div class="inner-container">
      <div class="column-1">
        <img src="{% static 'img/instagram.png' %}" width="25" height="25"/>
        <img src="{% static 'img/twitter.png' %}" width="26" height="22" />
        <img src="{% static 'img/facebook.png' %}" width="18" height="26" />
        <img src="{% static 'img/linkedin.png' %}" width="21" height="21" />
        <img src="{% static 'img/vertical-line.png' %}" width="3" height="79"/>
      </div>
      <div class="column-2">
        <div class="subtitle-container">
          <h2 class="subtitle">ENBARR HORSES</h2>
          <img src="{% static 'img/horizontal-line.png' %}" width="79" height="3"/>
        </div>
        <div>
          <h1 class="title">The History of mankind is carried on the back of a horse.</h1>
        </div>
        <div class="body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque in mattis risus nam vitae. Facilisis morbi purus vitae in quisque habitant ipsum, sollicitudin lacinia.</p>
        </div>
        <div class="download-buttons">
          <img src="{% static 'img/google-play-button.png' %}" />
          <img src="{% static 'img/app-store-button.png' %}" />
        </div>
        <div>
          <button class="button">Sign up</button>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-column-1">
      <div class="footer-row">
        <span class="navigation-button">Terms and Conditions</span>
        <span class="navigation-button">Privacy Policy</span>
      </div>
    </div>
    <div class="footer-column-2">
      <p class="copyright">© 2020 Enbarr, inc.</p>
    </div>
  </footer>
</div>
{% endblock %}
