#root{
    background-color: #F5F5F5!important;
}


.justifyContentEnd{
    display: flex;
    justify-content: flex-end;
}

.justifyContentCenter{
    display: flex;
    justify-content: center;
}
.justifyContentBetween{
    display: flex;
    justify-content: space-between;
}

.justifyContentEndAlignCenter{
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.justifyContenCenterAlignCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColumn{
    display: flex;
    flex-direction:column;
    align-items:center;
}

.linkBar{
    height:0px;
    width:58px;
    border: 2px solid #313033;
    background:#313033;
}

.headerIcons{
    color:#302F32;
    height:20px;
    width:20px;
}


.linkBlack{
    color:#302F32;
    text-decoration: none;
}

.customInput{
    background: #F4F4F4;
    border-radius: 15px;
    width:100%;
    border:none;
    padding:10px;
}