<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968378738153-00p57ilsamv24td5710mbndfkm0p3u9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968378738153-00p57ilsamv24td5710mbndfkm0p3u9j</string>
	<key>API_KEY</key>
	<string>AIzaSyC7MRCri4QeeIvmG_2biJLmUYNDJCjLFHA</string>
	<key>GCM_SENDER_ID</key>
	<string>968378738153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tiny-bird-36835</string>
	<key>PROJECT_ID</key>
	<string>enbarr-app-368019</string>
	<key>STORAGE_BUCKET</key>
	<string>enbarr-app-368019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968378738153:ios:c072f8581f727f7e5c9778</string>
</dict>
</plist>