
{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:700|Poppins:500|Poppins:400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bookman+Old+Style:400">
    <link rel="stylesheet" href={% static 'css/main.css' %} >

    <title>{{ customtext.title|striptags }}</title>
  </head>
  <body>
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>

