<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Enbarr</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Enbarr</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb450929960465142</string>
				<string>com.googleusercontent.apps.968378738153-mvtaacnb9rtci0nl2a7dav3klcr7bgfr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string></string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>450929960465142</string>
	<key>FacebookClientToken</key>
	<string>a7b361bfce3f003d85ae769d4faa5158</string>
	<key>FacebookDisplayName</key>
	<string>Enbarr</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Enbarr would like to use your photo so that we can create your profile</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Enbarr would like to use your location so that we can show accurate address on map</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Enbarr would like to use your location so that we can show accurate address on map</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Enbarr would like to use your location so that we can show accurate address on map</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Enbarr need the audio for video recording</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Enbarr would like to use your photo so that we can create your profile</string>
	<key>UIAppFonts</key>
	<array>
		<string>PoppinsBold.ttf</string>
		<string>PoppinsRegular.ttf</string>
		<string>bookman old style.ttf</string>
		<string>PoppinsSemiBold.ttf</string>
		<string>PoppinsMedium.ttf</string>
		<string>PoppinsLight.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
